<nav class="navbar has-shadow is-white" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item title"><img src="https://www.pngmart.com/files/Anime-Food-PNG-Free-Download.png" alt="logo" style="max-height: 70px;" class="p-2"> Ghibli Food Blog </a>
  </div>
  <div class="navbar-menu">
  <div class="navbar-end">
  
  <a class="navbar-item">About</a>
  <a class="navbar-item">All Food Recipes</a>
  <a class="navbar-item">Check Out Source Code</a>
 
  </div>
  </div>
</nav>