<section class="section "><div class="container">
<div class="content has-text-centered is-large pb-6">
<div class="columns is-centered">
<div class="column is-8">
  <h1><strong>About &#129299;</strong></h1>
  <p>A list of a few delicious meals from anime that you should definitely try. Whether you’re looking for something simple or something fancy and complicated, all of these dishes are great ways to start your meal out right! Discover the best anime food and drink on the internet! Anime food is one of the most popular blog posts on Website and it is also highly rated. This anime food blog post has been viewed by many people and liked by them much. We hope you will like this website and thank you for browsing our site. If you like anime food, then The Food Blog was made for you. We love anime, so we started this blog to share our favorite images and recipes with you! Keep an eye out for our future posts and please subscribe to see new recipes and updates on our website, Facebook or Twitter. You can also sign up for email updates to get notified when our posts are published.</p> 
  
  <div class="column"><h2>Sample Anime Food Pics &#128523;</h2><figure><%= image_tag "halohalo_anime.jpg" %><%= image_tag "Ponyo-Ramen.png" %><%= image_tag "noodle_anime_food.jpg" %></figure></div>
</div>
</div>
</div>
</div>
</section>