<section class="hero is-large hero-image">
  <div class="hero-body">

  <div class="tile is-ancestor">
  
  <div class="tile is-parent is-3 has-text-centered">
  </div>

  <div class="tile is-parent is-6 has-text-centered">
    <div class="tile is-child box">
      <p class="title has-text-white ">An Anime Food Blog</p>
      <p class="subtitle "><strong class="has-text-white"> cooking is an art itself...</strong></p>
    </div>
  </div>

  <div class="tile is-parent is-3 has-text-centered">
  </div>
</div>
  </div>
</section>

<section class="section"><div class="container"><div class="columns">
<div class="column is-12">
<div class="content has-text-centered my-6">
  <h1><strong>About</strong> Ghibli Food Blog</h1>
  <p>A list of a few delicious meals from anime that you should definitely try. Whether you’re looking for something simple or something fancy and complicated, all of these dishes are great ways to start your meal out right! Discover the best anime food and drink on the internet! Anime food is one of the most popular blog posts on Website and it is also highly rated. This anime food blog post has been viewed by many people and liked by them much. We hope you will like this website and thank you for browsing our site. If you like anime food, then The Food Blog was made for you. We love anime, so we started this blog to share our favorite images and recipes with you! Keep an eye out for our future posts and please subscribe to see new recipes and updates on our website, Facebook or Twitter. You can also sign up for email updates to get notified when our posts are published.</p>
</div>
</div>
</div>
</div>
</section>

<section class="section">

</section>

