<section class="hero is-large hero-image">
  <div class="hero-body">

  <div class="tile is-ancestor">
  
  <div class="tile is-parent is-3 has-text-centered">
  </div>

  <div class="tile is-parent is-6 has-text-centered">
    <div class="tile is-child box">
      <p class="title has-text-white ">An Anime Food Blog</p>
      <p class="subtitle "><strong class="has-text-white"> cooking is an art itself...</strong></p>
    </div>
  </div>

  <div class="tile is-parent is-3 has-text-centered">
  </div>
</div>
  </div>
</section>

<%= render "assets/sample_recipes" %>

<%= render "assets/about" %>

