<section class="section section-background-color">

<div class="content has-text-centered is-medium mb-6">
<h1><strong>&#10024; Anime Food Recipe List &#10024;</strong></h1>
</div>
<div class="container">
<% @foods.each do |card_item| %>
<div class="columns is-centered m-6">
<div class="column is-half">
<div class="card">
  <div class="card-content">
    <p class="title">
      <%=  card_item.food_title%>
    </p>
    <p class="subtitle">
     Anime: <%= card_item.anime_name %>
    </p>
<div class="content">
<p>
<%= card_item.anime_food_recipe.length > 10 ?  card_item.anime_food_recipe[0...1000] + "..." : card_item.anime_food_recipe %>
</p>
    <p class="has-text-centered">
     *click show to know about the recipe*
    </p>
    </div>
  </div>
  <div class="card-footer">
    <a class="has-text-black card-footer-item" href="/foods/show/<%=card_item.id%>">
    <i class="fa-regular fa-eye"></i>-SHOW 
    </a>
</div>
</div>
</div>
</div>
<% end %>
</div>
</section>