// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body > footer {
  margin-top: auto;
}

footer {
  padding: 2rem 1rem 2rem !important;
  background-color: rgb(39, 39, 39) !important;
}

.hero-image {
  background-image: url('https://sm.ign.com/ign_ap/screenshot/default/8c77_m1tg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.box {
  background: rgba(255, 255, 255, 0.15) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(3.1px) !important;
  -webkit-backdrop-filter: blur(3.1px) !important;
  border: 1px solid rgba(255, 255, 255, 0.24) !important;
}
